---
import Base from "../components/Base.astro"
import Header from "../components/Header.astro"
import { SITE_TITLE, SITE_DESCRIPTION, SITE_PREVIEW_IMAGE } from "../consts"

interface Props {
  title?: string
  description?: string
  image?: string
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = SITE_PREVIEW_IMAGE,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Base title={title} description={description} image={image} />
  </head>

  <body class="font-jbmono bg-light">
    <Header />
    <main class="p-10 pt-[100px] lg:pt-[134px] min-h-screen text-dark">
      <slot />
    </main>
  </body>
</html>
