---
interface Props {
  title: string
  callout?: string
}

const { title, callout } = Astro.props
---

<header class="grid">
  <h1
    class="px-[var(--body-padding)] py-8 grid place-content-center border-b border-black font-semibold leading-[.8] uppercase text-center overflow-hidden"
  >
    <span
      class="inline-block font-serif transform scale-x-[0.4] max-w-full text-[clamp(2rem,20vw,10rem)]"
    >
      {title}
    </span>
  </h1>
  {
    callout && (
      <div class="justify-self-center flex">
        <small class="px-4 py-2 flex justify-center items-center gap-[.25em] border border-black border-t-0">
          {callout}
        </small>
      </div>
    )
  }
</header>
