---
interface Props {
  title: string
  callout?: string
}

const { title, callout } = Astro.props

const get_scale = (text: string) => {
  const length = text.length
  return length <= 2 ? 1 : length >= 6 ? 0.4 : 1 - (length - 2) * 0.2
}
---

<header class="grid">
  <h1
    class="bold grid place-content-center overflow-hidden border-b border-black
      px-[1.2rem] py-8 text-center font-semibold uppercase leading-[0.8]
      sm:px-[2rem]"
  >
    <span
      class="ios-will-change inline-block max-w-full transform whitespace-nowrap
        font-pagetitle text-[clamp(2rem,20vw,10rem)] tracking-[-0.02em]
        antialiased"
      style={`transform: scaleX(${get_scale(title)});`}
    >
      {title}
    </span>
  </h1>
  {
    callout && (
      <div class="flex justify-self-center">
        <small class="flex items-center justify-center gap-[.25em] border border-t-0 border-black px-4 py-2 text-sm">
          {callout}
        </small>
      </div>
    )
  }
</header>
