---
import Nav from "./Nav.astro"
---

<header class="p-6 w-screen top-0 fixed bg-navbar z-50">
  <div class="flex flex-row justify-between lg:justify-around text-light">
    <a href="/">
      <h1 class="text-3xl font-semibold">
        kefan<span class="text-highlight">.</span>me
      </h1>
    </a>

    {/* desktop nav */}
    <div class="flex items-center text-xl">
      <Nav />
    </div>

    {/* mobile nav: todo */}
    <!-- <div class="xl:hidden">
      <Nav />
    </div> -->
  </div>
</header>
