---
interface Props {
  title: string
  callout?: string
}

const { title, callout } = Astro.props

const get_scale = (text: string) => {
  const length = text.length
  return length <= 2 ? 1 : length >= 6 ? 0.4 : 1 - (length - 2) * 0.2
}
---

<header class="grid">
  <h1
    class="bold px-[1.2rem] sm:px-[2rem] py-8 grid place-content-center border-b border-black font-semibold leading-[0.8] uppercase text-center overflow-hidden"
  >
    <span
      class="tracking-[-0.02em] inline-block font-pagetitle whitespace-nowrap transform max-w-full text-[clamp(2rem,20vw,10rem)]"
      style={`transform: scaleX(${get_scale(title)});`}
    >
      {title}
    </span>
  </h1>
  {
    callout && (
      <div class="justify-self-center flex">
        <small class="px-4 py-2 flex justify-center items-center gap-[.25em] border border-black border-t-0">
          {callout}
        </small>
      </div>
    )
  }
</header>
