---
import HeaderLink from "./HeaderLink.astro"

const links = [
  { name: "CV", path: "/cv" },
  { name: "Gigs", path: "/gigs" },
  { name: "Blog", path: "/blog" },
  { name: "Book", path: "/book" },
  { name: "Contact", path: "/contact" },
]

const currentPath = Astro.url.pathname
---

<nav class="flex gap-8">
  {
    links.map((link, _) => (
      <HeaderLink
        href={link.path}
        class={`${
          currentPath.startsWith(link.path)
            ? "text-highlight border-b-2 border-highlight"
            : "border-b-2 border-transparent"
        } capitalize font-medium hover:text-highlight hover:border-highlight transition-colors duration-200`}
      >
        {link.name}
      </HeaderLink>
    ))
  }
</nav>
