---

---

<div
  class="prose-codeblockwidth prose prose-quoteless prose-quotemargin max-w-none
    font-medium text-black dark:prose-invert prose-headings:underline
    prose-h1:text-xl prose-h1:font-bold prose-p:text-justify
    prose-pre:font-jbmono prose-img:rounded-xl"
>
  <slot />
</div>
