---

---

<!-- prose-p:text-lg prose-ol:text-lg -->
<div
class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline max-w-none"
>
  <slot />
</div>
