---

---

<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline max-w-none
  prose-pre:overflow-x-auto prose-pre:rounded-lg prose-code:break-words prose-code:whitespace-pre-wrap
  prose-quoteless"
>
  <slot />
</div>
