---

---

<div
  class="prose prose-quoteless prose-quotemargin prose-codeblockwidth max-w-none
    font-article text-[105%] font-medium text-black dark:prose-invert
    prose-headings:underline prose-h1:text-xl prose-h1:font-bold
    prose-p:text-justify prose-pre:font-jbmono prose-img:rounded-xl
    sm:font-normal"
>
  <slot />
</div>
