---

---

<div
  class="prose prose-quoteless max-w-none dark:prose-invert
    prose-headings:underline prose-h1:text-xl prose-h1:font-bold
    prose-p:text-justify prose-code:whitespace-pre-wrap prose-code:break-words
    prose-pre:overflow-x-auto prose-pre:rounded-lg prose-img:rounded-xl prose-quotemargin"
>
  <slot />
</div>
