---

---

<div
  class="prose prose-quoteless prose-quotemargin prose-codeblockwidth font-article dark:prose-invert
    prose-headings:underline prose-h1:text-xl prose-h1:font-bold prose-p:text-justify
    prose-pre:font-jbmono prose-img:rounded-xl max-w-none text-[105%] font-medium text-black
    sm:font-normal"
>
  <slot />
</div>
