---
// import { getCollection } from "astro:content"
// import FormattedDate from "../../components/FormattedDate.astro"
import MainLayout from "../../layouts/MainLayout.astro"

// const posts = (await getCollection("blog")).sort(
//   (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
// )
---

<MainLayout title="Booknotes">
  <section>
    Booknote here
  </section>
</MainLayout>