---
import { getCollection } from "astro:content"
import MainLayout from "../../layouts/MainLayout.astro"

const booknotes = (await getCollection("booknotes")).sort(
  (a, b) => b.data.id - a.data.id
)

console.log(booknotes[0])
---

<MainLayout title="Booknotes" callout="sometimes i read">
  <section>
    {
      booknotes.map((book) => (
        <a href={`/book/${book.data.title}/`}>{book.data.title}</a>
      ))
    }
  </section>
</MainLayout>
