@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jbmono-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jbmono-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Han Serif";
  src:
    local("Source Han Serif SC"),
    url("/fonts/SourceHanSerifSC-Medium-subset.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Han Serif";
  src:
    local("Source Han Serif SC"),
    url("/fonts/SourceHanSerifSC-Regular-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif SC ExtraBold";
  src: url("/fonts/NotoSerifSC-ExtraBold-subset.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@media (hover: none) and (pointer: coarse) {
  .ios-will-change {
    will-change: transform;
  }
}

:root {
  --nav-height: 50px;
}

body {
  width: 100%;
  height: 100%;
  padding-top: var(--nav-height);
  font-weight: 300;
  line-height: 1.5;
  min-height: 100%;
  display: grid;
  align-items: start;
}

body::-webkit-scrollbar {
  background-color: #f0f0f2;
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #f0f0f2;
}

body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border: 4px solid #f0f0f2;
}

body::-webkit-scrollbar-button {
  display: none;
}
