---
import { getCollection, type CollectionEntry } from "astro:content"
import MainLayout from "../layouts/MainLayout.astro"
import Callout from "../components/Callout.astro"
import { Icon } from "astro-icon/components"
import { RESUME_FILE } from "../consts"

type Experience = CollectionEntry<"experiences">
type Skill = CollectionEntry<"skills">

const experiences: Experience[] = (await getCollection("experiences")).sort(
  (a: Experience, b: Experience) => b.data.id - a.data.id,
)

const skills: Skill[] = (await getCollection("skills")).sort(
  (a: Skill, b: Skill) => a.data.id - b.data.id,
)
---

<MainLayout title="Curriculum Vitae">
  <Callout
    as="a"
    slot="callout"
    class="flex items-center space-x-2 underline decoration-1 \
      underline-offset-4 hover:font-bold"
    href={RESUME_FILE}
    target="_blank"
    rel="noopener noreferrer"
  >
    <Icon name="arrow-down-to-line" />
    <span>Download Resume</span>
  </Callout>

  <div class="mt-[-2rem] flex flex-col sm:mt-[-4rem] md:flex-row">
    <div class="w-full p-4 md:w-1/2">
      <ul>
        {
          skills.map((skill: Skill) => (
            <li class="mb-6">
              <header class="mb-4 mt-1 text-lg font-semibold underline underline-offset-4">
                {skill.data.name}
              </header>
              <div class="flex flex-wrap gap-x-4 font-medium">
                {skill.data.items.map((item) => (
                  <span class="text-sm tracking-tight">{item}</span>
                ))}
              </div>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="my-4 block border-t border-black sm:hidden"></div>
    <div class="mx-4 hidden sm:block md:border-l md:border-black"></div>

    <div class="w-full p-4 md:w-1/2">
      <ul>
        {experiences.map((exp) => <li class="mb-12" />)}
      </ul>
    </div>
  </div>
</MainLayout>
