---
import Callout from "../../components/Callout.astro"
import MainLayout from "../../layouts/MainLayout.astro"

const callout_desktop = `find ~ -name .git \\\n\t| awk -F'/' '{print$(NF-1)}' \\\n\t| nl `
const callout_mobile = `ls ~/projects/ | nl`
---

<MainLayout title="Projects">
  <Callout slot="callout">
    <span class="hidden whitespace-pre-wrap sm:block">
      {callout_desktop}
    </span>

    <span class="block whitespace-pre-wrap sm:hidden">
      {callout_mobile}
    </span>
  </Callout>

  <section>Projects here</section>
</MainLayout>
