---
import { type CollectionEntry, getCollection } from "astro:content"
import MainLayout from "../../layouts/MainLayout.astro"
import Prose from "../../components/Prose.astro"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<"blog">

const { title, abbrlink, date, disabled, Content } = {
  ...Astro.props.data,
  ...(await Astro.props.render()),
}

const full_date = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
})
---

<MainLayout title={title} callout={full_date}>
  <article class="px-[1.2rem] sm:px-[6rem] pb-[2.4rem]">
    <div class="font-sourcehan leading-7 font-normal">
      <Prose>
        <Content />
      </Prose>
    </div>
  </article>
</MainLayout>
