---
import { type CollectionEntry, getCollection } from "astro:content"
import MainLayout from "../../layouts/MainLayout.astro"
import FormattedDate from "../../components/FormattedDate.astro"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<"blog">

const { title, abbrlink, date, disabled, Content } = {
  ...Astro.props.data,
  ...(await Astro.props.render()),
}
---

<MainLayout title={title} description="post">
  <article>
    <div>
      <div>
        <h1>{title}</h1>
        <div>
          <FormattedDate date={date} />
        </div>
        <br />
      </div>
      <Content />
    </div>
  </article>
</MainLayout>
